Repository thesold/vue-media-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, jsonlint, markdownlint

.lintstagedrc:

{
    "*.js": [
        "eslint"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ],
    "*.md": [
        "markdownlint"
    ]
}

Configuration files
  .babelrc
  .editorconfig
  .eslintignore
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  rollup.config.js
  static/.gitkeep
  tailwind.js
Due: eslint, jsonlint, markdownlint

Initial release
  .eslintignore
  build/build.js
  build/check-versions.js
  build/logo.png
  build/utils.js
  build/vue-loader.conf.js
  build/webpack.base.conf.js
  build/webpack.dev.conf.js
  build/webpack.prod.conf.js
  build/webpack.test.conf.js
  config/dev.env.js
  config/index.js
  config/prod.env.js
  config/test.env.js
  index.html
  src/App.vue
  src/assets/style.css
  src/components/Editor.vue
  src/components/MediaManager.vue
  src/index.js
  src/main.js
  src/router/index.js
  test/e2e/custom-assertions/elementCount.js
  test/e2e/nightwatch.conf.js
  test/e2e/runner.js
  test/e2e/specs/test.js
  test/unit/.eslintrc
  test/unit/jest.conf.js
  test/unit/setup.js
  test/unit/specs/HelloWorld.spec.js
Due: eslint, jsonlint

1.0.1
  package-lock.json
  package.json
Due: jsonlint

Fixes some configuration issues for styles
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, jsonlint

Publish package under `thesold` npm org
  package.json
Due: jsonlint

1.0.2
  package-lock.json
  package.json
Due: jsonlint

Prepare for publishing
  package-lock.json
  package.json
Due: jsonlint

1.0.3
  package-lock.json
  package.json
Due: jsonlint

Switch to vuetify for layout/styling
  .eslintrc
  .postcssrc.js
  build/build.js
  build/check-versions.js
  build/logo.png
  build/utils.js
  build/vue-loader.conf.js
  build/webpack.base.conf.js
  build/webpack.dev.conf.js
  build/webpack.prod.conf.js
  build/webpack.test.conf.js
  config/dev.env.js
  config/index.js
  config/prod.env.js
  config/test.env.js
  index.html
  package-lock.json
  package.json
  rollup.config.js
  src/assets/style.css
  src/components/MediaManager.vue
  src/main.js
  static/.gitkeep
  tailwind.js
  test/e2e/custom-assertions/elementCount.js
  test/e2e/nightwatch.conf.js
  test/e2e/runner.js
  test/e2e/specs/test.js
  test/unit/.eslintrc
  test/unit/jest.conf.js
  test/unit/setup.js
  test/unit/specs/HelloWorld.spec.js
Due: eslint, jsonlint

Remove unused style import
  src/components/MediaManager.vue
Due: eslint

include protocol in base url for flexibility
  src/components/MediaManager.vue
Due: eslint

1.1.0
  package-lock.json
  package.json
Due: jsonlint

Use unique key for media library items
  src/components/MediaManager.vue
Due: eslint

Fix missing packages
  package-lock.json
  package.json
Due: jsonlint

1.1.1
  package-lock.json
  package.json
Due: jsonlint

Readme improvements
  README.md
Due: markdownlint

Send the full file object with delete requests to enable support for additional media library drivers
  src/components/MediaManager.vue
Due: eslint

1.1.2
  package-lock.json
  package.json
Due: jsonlint
